* 
{
  margin: 0;
  padding: 0;
}
html {
  height: 100%;
  margin: 0;
  padding: 0;
}
.bg-gradient-custom {
    background-attachment: fixed;
    background-image: linear-gradient(to bottom, #bc8ace, #62d3e2);
}

a {
  color: #ffffff;
  text-decoration: none;
}

.mg_left {
  margin-left: 10px;
}

.margin_left{
  margin-left: 20px;
}

.margin_right{
  margin-right: 20px;
}

.colored_white {
  color: white;
  font-size: 24px;
}

.MultiCarousel { float: left; overflow: hidden; padding: 15px; width: 100%; position:relative; }
.MultiCarousel .MultiCarousel-inner { transition: 1s ease all; float: left; }
.MultiCarousel .MultiCarousel-inner .item { float: left;}
.MultiCarousel .MultiCarousel-inner .item > div { text-align: center; padding:10px; margin:10px; background:#f1f1f1; color:#666;}
.MultiCarousel .leftLst, .MultiCarousel .rightLst { position:absolute; border-radius:50%;top:calc(50% - 20px); }
.MultiCarousel .leftLst { left:0; }
.MultiCarousel .rightLst { right:0; }

.MultiCarousel .leftLst.over, .MultiCarousel .rightLst.over { pointer-events: none; background:#ccc; }