<!DOCTYPE html>
<html lang="ru">
  <head>
      <meta charset="utf-8">
      <title>Главная</title>
      <link rel="icon" href="favicon.ico" type="image">
  </head>
  <body>
    <header>
      {% comment %} {% include "includes/header.html" %} {% endcomment %}
    </header>

    <nav>
      {% comment %} {% include "includes/nav.html" %} {% endcomment %}
    </nav>

    <main>

    </main>

    <footer>
      {% comment %} {% include "includes/footer.html" %} {% endcomment %}
    <footer>
  </body>
</html>