{% load static %}
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Кот обормот{% endblock title %}</title>
    <link rel="shortcut icon" href="{% static 'favicons/favicon.ico' %}" type="image/png" />
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/all.css' %}" rel="stylesheet">
    <script src="{% static "js/bootstrap.min.js" %}"></script>
  </head>
  <body class="bg-gradient-custom">
    <div class="container-fluid">
      <div class="row align-items-center justify-content-center">
        {% include "includes/nav.html" %}
      </div>
    </div>
    {% if messages %}
        <div class="d-flex flex-column container-fluid mt-3 position-fixed" style="top: 6em; z-index:1;">
        {% for message in messages %}
        <div class="d-inline-flex gap-3 alert alert-{{ message.tags|default:"info" }} fade show align-middle mx-auto" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
        </div>
    {% endif %}
    <main class="mt-5">
      {% block main %} Контент не загружен {% endblock%}
    </main>
    <div class="footermaker"></div>
    {% include "includes/footer.html" %}
  </body>
</html>