{% extends 'index.html' %}
{% load static %}

{% block title %}Каталог{% endblock title %}
{% block main %}
{% if items %}
<div class="container">
  <h1 class="text-center my-4">Товары</h1>
    <div class="py-5 mb-5 d-flex flex-column justify-content-center">
      <div class="row">
          {% for item in items %}
            {% if not show_category %}  
              {% ifchanged item.category.name %}
                <h3>{{ item.category.name }}</h3>
              {% endifchanged %}
            {% endif %}
            {% include "../catalog/includes/detail.html" with path=request.path%} 
          {% endfor %}
      </div>
    </div>
</div>
{% endif %}
{% endblock %}